html {
    font-size: 24px;
}

body {
    font-family: system-ui;
    background-color: #faf4ef;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 1.3rem;  
    color: #333;
}

.container {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
}

.action {
    background-color: #083734;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 0.6rem;
    font-weight: bold;
    cursor: pointer;
}

.preview {
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: 5rem;
    background-color: #f2e0cd;
    border-radius: 50%;
    text-align: center;
    margin: 10px auto;
    justify-content: center;
}

.preview>.duration {
    font-size: 0.8rem;
    font-weight: bold;
}

#foodPreview {
    color: #000;
}

#back {
    cursor: pointer;
    font-size: 0.8rem;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.info>.content {
    display: flex;
    justify-content: space-between;
}

.info>.content>.data {
    margin: 0 10px;
    font-size: 0.7rem;
}

/* font */
h1 {
    font-family: 'Times New Roman', Times, serif;
}

.small {
    font-size: 0.7rem;
    color: #677677;
}

.title {
    padding: 6px 0;
    font-size: 0.9rem;
    font-family: 'Times New Roman', Times, serif;
}

.sub-title {
    font-size: 0.9rem;
    padding: 10px 0;
    font-family: 'Times New Roman', Times, serif;
}

.right-data {
    padding: 10px;
    font-size: 0.8rem;
    border-left: 1px solid rgb(170, 154, 154);
}

.side,
.quantity {
    font-weight: lighter;
    color: #3e4848;
}

.hidden {
    display: none;
}

/* General components */
.quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
.quantity>.text {
    align-items: center;
    padding: 10px 0px;
    font-size: 1.1rem;
    font-weight: bold;
}
.text>.label {
    padding: 0 4px;
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.input-time {
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    font-family: unset;
    font-size: 0.7rem;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px 0px;
}

button, .btn-submit {
    background: rgb(11, 41, 5);
    border: none;
    color: #fff;
    padding: 8px 20px;
    font: inherit;
    cursor: pointer;
    border-radius: 22px;
    font-size: 0.8rem;
}

.quantities {
    font-size: 0.8rem;
}

.time-input {
    max-width: 0.8rem;
    text-align: center;
    border: none;
    background-color: #ffead2b0;
    border-radius: 5px;
    font-size: 0.8rem;
}

.time-label {
    font-size: 0.8rem;
}

/* New food page */

.main-options {
    display: flex;
    justify-content: space-between;
}

.main-option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 48px;
    background-color: #e9ecef;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    position: relative;
    margin: 0 4px;
    transition: background-color 0.3s ease;
}

.main-option input[type="radio"] {
    display: none;
}

.main-option label {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 50px;
    cursor: pointer;
}

.main-option input[type="radio"] + label {
    color: white;
    border-radius: 10px;
}

.main-option input[type="radio"] + label.bootle {
    background-color: #ffead2b0;
    color: #e0af7c;
}

.main-option input[type="radio"]:checked  + label.bootle {
    background-color: #ffead2;
    color: #e0af7c;
    border: 1px solid;
}

.main-option input[type="radio"] + label.breast {
    background-color: #f1eafdb0;
    color: #a896c9;
}

.main-option input[type="radio"]:checked  + label.breast {
    background-color: #f1eafd;
    color: #a896c9;
    border: 1px solid;
}

.milk-options {
    padding: 10px;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 0.86rem;
}

.milk-option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 28px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    position: relative;
    margin: 0 4px;
    transition: background-color 0.3s ease;
}

.milk-option input[type="radio"] {
    display: none;
}

.milk-option label {
    position: absolute;
    width: 100%;
    padding: 2px 0px;
    cursor: pointer;
}

.milk-option input[type="radio"] + label {
    color: #9a84bf;
}

.milk-option input[type="radio"]:checked + label {
    background-color: #f1eafdb0;
    color: #a896c9;
    border-radius: 6px;
}

textarea#story {
    width: 100%;
    border-radius: 8px;
    padding: 6px;
    border: none;
    font-family: unset;
    font-size: 0.7rem;
    resize: none;
}

.timer-options {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
}

.timer-option {
    background-color: #fff;
    align-items: center;
    justify-content: center;
    width: 46%;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    position: relative;
    margin: 0 4px;
    transition: background-color 0.3s ease;
}

.timer-title {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
}

.main-option input[type="radio"] + label.poop {
    background-color: #ffead2b0;
    color: #e0af7c;
}

.main-option input[type="radio"]:checked  + label.poop {
    background-color: #ffead2;
    color: #e0af7c;
    border: 1px solid;
}

.main-option input[type="radio"] + label.pee {
    background-color: #ffead2b0;
    color: #e0af7c;
}

.main-option input[type="radio"]:checked  + label.pee {
    background-color: #ffead2;
    color: #e0af7c;
    border: 1px solid;
}