<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <title>Food</title>
    <script type="module" src="../scripts/food.js"></script>
</head>
<body>
    <h1><span id="back">⬅️</span>Repas</h1>
    <div id="foodResume"></div>

    <div class="title">Résumé</div>
    <div id="foodTodayResume"></div>

    <div class="title">Historique</div>
    <div id="historiqueFood"></div>
</body>
</html>