<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Mon suivi</title>
    <script type="module" src="../config/init.js"></script>
    <script type="module" src="../scripts/home.js"></script>
</head>

<body>
    <h1>Mon suivi</h1>
    <div id="foodPreview"></div>
    <div id="diapersPreview"></div>
    <div id="pumpPreview"></div>

    <button class="danger" id="reset-btn">Reset all data!</button>
</body>

</html>
