<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../modal.css">
    <title>New diaper</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script type="module" src="../scripts/newDiaper.js"></script>
</head>

<body>
    <h1><i id="back" class="fas fa-angle-left"></i> Couche</h1>

    <form id="saveDiaper" action="javascript:void(0);">	
        <div id="mainOptions" class="main-options">
            <div class="main-option">
                <input type="radio" id="pee" name="diaperType" value="pee" />
                <label class="pee" for="pee">💧 Urine</label>
            </div>
            <div class="main-option">
                <input type="radio" id="poop" name="diaperType" value="poop"/>
                <label class="poop" for="poop">💩 Selles</label>
            </div>
        </div>
        <div class="block">
            <div>
                <div class="sub-title" for="dateInput">Date</div>
                <input class="input-time" type="date" id="dateInput" name="dateInput" required/>
            </div>
            <div>
                <div class="sub-title" for="timeInput">Heure</div>
                <input class="input-time" type="time" id="timeInput" name="timeInput" required />
            </div>
        </div>
        <div class="">
            <div class="sub-title" for="note">Ajouter une note</div>
            <textarea placeholder="Couleur, aspect, anomalie ..." id="note" name="note"></textarea>
        </div>
        <div class="button-wrapper">
            <button class="btn-submit" type="submit">Enregistrer</button>
        </div>

    </form>

    <div id="successModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <!-- <p>✅ Nouvel couche enregistré avec succès !</p> -->
            <p>✅ Couche enregistré avec succès !</p>
        </div>
    </div>

    <div id="updateModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>✅ Couche mis à jour avec succès !</p>
        </div>
    </div>

</body>

</html>