<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../modal.css">
    <title>New food</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script type="module" src="../scripts/newFood.js"></script>
</head>

<body>
    <h1><span id="back"><i class="fas fa-angle-left"></i></span> Ajouter un repas</h1>

    <form id="saveFood" action="javascript:void(0);">
        <div id="mainOptions" class="main-options">
            <div class="main-option">
                <input type="radio" id="breast" name="foodType" value="breast" />
                <label class="breast" for="breast">🤱 Tétée</label>
            </div>
            <div class="main-option">
                <input type="radio" id="bottle" name="foodType" value="bottle" checked />
                <label class="bootle" for="bottle">🍼 Biberon</label>
            </div>
        </div>
        <div id="formBreast" class="hidden">
            <div class="timer-options">
                <div class="timer-option">
                    <div class="timer-left">
                        <div class="timer-title left">
                            Sein gauche
                        </div>
                        <div>
                            <input class="time-input" type="text" id="r-hours" name="r-hours" required minlength="1"
                                maxlength="1" size="1" value="0" max="2" min="0" />
                            <label class="time-label" for="r-hours">h</label>
                            <input class="time-input" type="text" id="r-minutes" name="r-minutes" required minlength="1"
                                maxlength="2" size="1" value="0" max="60" min="0" />
                            <label class="time-label" for="r-minutes">m</label>
                            <input class="time-input" type="text" id="r-seconds" name="r-seconds" required minlength="1"
                                maxlength="2" size="1" value="0" max="60" min="0" />
                            <label class="time-label" for="r-seconds">s</label>
                        </div>
                    </div>
                </div>
                <div class="timer-option">
                    <div>
                        <div class="timer-title">
                            Sein droit
                        </div>
                        <div>
                            <input class="time-input" type="text" id="l-hours" name="l-hours" required minlength="1"
                                maxlength="1" size="1" value="0" max="2" min="0" />
                            <label class="time-label" for="l-hours">h</label>
                            <input class="time-input" type="text" id="l-minutes" name="l-minutes" required minlength="1"
                                maxlength="2" size="2" value="0" max="60" min="0" />
                            <label class="time-label" for="l-minutes">m</label>
                            <input class="time-input" type="text" id="l-seconds" name="l-seconds" required minlength="1"
                                maxlength="2" size="2" value="0" max="60" min="0" />
                            <label class="time-label" for="l-seconds">s</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="formBottle">
            <div class="volume">
                <span id="down-milk" role="button" tabindex="0" aria-label="Decrease milk">
                    <i class="action fa-solid fa-circle-minus"></i>
                </span>
                <input class="quantity-input" type="text" id="volume" name="volume" required minlength="1"
                maxlength="3" size="3" value="50" max="999" min="0" /><span class="label">mL</span>    
                <span id="up-milk" role="button" tabindex="0" aria-label="Increase milk">
                    <i class="action fa-solid fa-circle-plus"></i>
                </span>
            </div>
            <div class="sub-title">Type de lait</div>
            <div class="milk-options">
                <div class="milk-option">
                    <input type="radio" id="breastMilk" name="milkType" value="breast" checked>
                    <label for="breastMilk">Lait maternel</label><br>
                </div>
                <div class="milk-option">
                    <input type="radio" id="formula" name="milkType" value="formula">
                    <label for="formula">Lait Artifiel</label><br>
                </div>
            </div>
        </div>
        <div class="block">
            <div>
                <div class="sub-title" for="dateInput">Date</div>
                <input class="input-time" type="date" id="dateInput" name="dateInput" required />
            </div>
            <div>
                <div class="sub-title" for="timeInput">Heure</div>
                <input class="input-time" type="time" id="timeInput" name="timeInput" required />
            </div>
        </div>
        <div class="">
            <div class="sub-title" for="note">Ajouter une note</div>
            <textarea placeholder="Écrit une note" id="note" name="note" rows="5" cols="33"></textarea>
        </div>
        <div class="button-wrapper">
            <button class="btn-submit" type="submit">Enregistrer</button>
        </div>

    </form>

    <div id="successModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>✅ Nouvel aliment enregistré avec succès !</p>
        </div>
    </div>

</body>

</html>